<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC03</title>
</head>
<body>
    <h1>Atividade contínua 03</h1>
    <b><p>Matéria: Frameworks Fullstack</p></b>
    <b><p>Professor: Antonio de Oliveira Dias</p></b>
    <b><p>Semestre: 4° semestre</p></b>
    <b><p>Descrição:</p></b>
    <p>Faça um programa web em que  envie 2 parametros ao servidor flask utilizando jquery para o envio dos dados. </p>
    <p>Os parametros sao o nome do aluno e o email.</p>
    <p>Os parametros devem ser exibidos na tela em letra maiuscula, como resposta de que foi processado pelo servidor.</p>
    <p>Faça o mesmo envio tambem utilizando JSON.</p>
    <p><a href="/dados">Envio de dados via form com jquery</a></p>
    <p><a href="/dados-json">Envio de Json com jquery</a></p>
</body>
</html>